<!-- chat/templates/chat/register.html -->
<style>
  body {
  <!--margin: 2em auto;-->
  max-width: 600px;
  color: white;
    font-family: verdana;
    background-color:#E8E8E8;
    <!--background-image:url("question.jpg"); -->
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 150px 150px;
    background-repeat: no-repeat;

}

form div {
    margin-bottom: 0.5em;
}
form div label, form div input {
    display: block;
    margin-bottom: 0.3em;
}
</style>
<center>

    Registration
    <hr>

</center>
<form id="test" action="#" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" />
    </div>

    <p>
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </p>
</form>
<pre id="output"></pre>


<script>
    /*
    (function() {
    function toJSONString( form ) {
        var obj = {};
        var elements = form.querySelectorAll( "input" );
        var name = elements.name;
        /*for( var i = 0; i < elements.length; ++i ) {
            var element = elements[i];
            var name = element.name;
            var value = element.value;*/

          /*  if( name ) {
                obj[ name ] = value;
            }
        }

        return JSON.stringify( obj );
    }

    document.addEventListener( "DOMContentLoaded", function() {
        var form = document.getElementById( "test" );
        var output = document.getElementById( "output" );
        form.addEventListener( "submit", function( e ) {
            e.preventDefault();
            var json = toJSONString( this );
            output.innerHTML = json;

        }, false);

    });

})();
*/
</script>
